# {{ name }}

[![PyPI version](https://img.shields.io/pypi/v/{{ name }}.svg)](https://pypi.org/project/{{ name }}/)
[![CI](https://img.shields.io/github/actions/workflow/status/OWNER/{{ name }}/ci.yml?branch=main&label=CI)](https://github.com/OWNER/{{ name }}/actions)
[![Coverage](https://img.shields.io/codecov/c/github/OWNER/{{ name }})](https://codecov.io/gh/OWNER/{{ name }})

{{ description }}

## Installation

```bash
pip install {{ name }}
```

## Quickstart

```python
import {{ pkg_name }}

print({{ pkg_name }}.__version__)
```

## Contributing

Contributions are welcome! Please open an issue or submit a pull request.

## License

See [LICENSE](LICENSE) for details.
